.about-img {
    border-radius: 10%;

    height: 300px;
    width: 250px;
    text-align: center;
    margin-right: 40px;
}

.goal {
    width: 500px;
    height: 300px;
    border-radius: 10%;
    padding: 25px;
}

.about-title {
    border: 2px solid lightblue;
    padding: 30px;
    height: 400px;
    width: 700px;
    border-radius: 10%;

}

@media only screen and (max-width:576px) {
    .about-title{
        height:1000px;
        width:400px;
        border:none;
    }
    .goal {
        width: 350px;
        height: 700px;
        border-radius: 5px;
        text-align: center;
    }
    .about-img {
        border-radius: 10%;
        height: 300px;
        width: 250px;
        text-align: center;
        margin-left: 50px;
    }
    .name{
        text-align: center;
    }
}