.navbar{
    background-color: rgb(220, 231, 231);
    color: black;
    height:70px;
}
.navbarText{
    color: black;
}
.title-main{
    color:lightslategray;
    font-weight: bold;
    font-size: 25px;
 
}
.sign-out{
    font-weight: 700;
    color:black;
}
.sign-in{
    font-weight: 700;
    color: black;
}
.toggle{
    background-color: cadetblue;
}