.footer{
    font-family: 'Segoe UI';
    background-color: #26353b;
    /* background-color: rgb(220, 231, 231); */
    padding:40px 0;
}

.footer .social{
    text-align:center;
    padding-bottom: 25px;
    color:#fdfeff;
}
.footer .social a{
    font-size: 24px;
    color:#ffffff;
    border: 1px solid rgb(255, 254, 254);
    width:40px;
    height:40px;
    line-height:38px;
    display:inline-block;
    text-align:center;
    border-radius: 50%;
    margin:0 8px;

}
.footer ul{
    margin-top:0;
    padding:0;
    list-style: none;
    font-size: 15px;
    line-height:1.6;
    margin-bottom:0;
    text-align: center;

}

.footer ul li a{
    color:#feffff;
    text-decoration: none;
}
.footer ul li{
    display:inline-block;
    padding:0 10px;

}

.copy-right{
    font-size: medium;
    font-weight: bold;
    color:#ffffff;
}