.book-img{
    height: 370px;
    border-radius: 20px;
    width:500px;
}
.book{
    border: 1px solid rgb(159, 147, 147);
    border-radius: 30px;
    padding:10px;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
    background-color: azure;

}

.description{
    margin-left:20px;
    margin-top: 70px;
}

.book-btn{
    background-color: rgb(31, 139, 221);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: azure;
    font-weight: 20px;
}


@media only screen and (max-width:576px) {

}