.Login{
    background-color: rgb(183, 190, 190);
    border-radius: 30px;
    height:500px;
    width:600px;
    padding: 30px;
}
.toggle-btn{
    height:50px;
}
.toggle-btn2{
    background-color: rgb(28, 154, 145);
    height:50px;
    color:gray;

}

.btn-link{
    text-decoration: none;
    color:lightcyan;
}