.banner-title{
    color: rgb(248, 240, 240);
    background-color:rgb(41, 18, 18)
}

.banner-title-le{
    color:rgb(19, 1, 1);
    background-color:aliceblue;
}

/* make services responsive */
@media only screen and (max-width:576px) {
    .carousel-title{
        display: none;
    }
}

@media only screen and (min-width:577px) and (max-width:992px){
    .carousel-title{
        display:none;
    }
}